img {
    border-radius: 15px;
    
}
body {
    background-color: peru;
    padding-left: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 1080px; 
	margin: 0 auto !important; 
	float: none !important; 
}


li {
	padding: 1rem 1rem 1rem;
	border-radius: 1rem;
	background: black;
    font-family: monospace;
    display: block;
    width: max-content;
    color: peachpuff;
}

li + li{
	margin-top: .25rem;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4.5em;
    font-weight: bolder;
    font-stretch: wider;
    font-variant: small-caps;
    letter-spacing: -1px;
    background-color: black;
    color: peachpuff;
   }

#container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#card {
    padding: 1rem;
}